body {
    background-color: #fcfcfc;
    display: relative;
    margin: 0px auto;
    text-align: center;
    background-color: #F4F4F6;
    font-family: 'Roboto', sans-serif;
    font: normal 100%/1.4 sans-serif;
    overflow-x: hidden;
}

.header {
	background-color: #494949;
}

.grid {
	margin: 1rem 0;
}

.nav > .nav-link {
	color: white;
}

.nav > .nav-link:hover {
	color: rgb(49, 172, 255);
}

#searcharea {
	margin: 0 auto;
	text-align: center;
	background: none;
	padding: 4px;
	width:100%;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

#searcharea label {
	font: bold 1.1em Arial;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #283C7B;
}

#searcharea p {
	margin: 0;
	line-height: 1em;
	padding-bottom: 5px;
}

#searcharea input {
	width: 42%;
	text-align: center;
}

#update {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 85%;
	margin: 0 auto;
	border-top: 1px dotted #CCC;

}

#update ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

#update ul li {
	width: 100%;
	padding: 0 20px;
	padding-top: 0 20px;
	background: #EEE;
	padding-bottom: 1px;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
	-webkit-animation: myanim 1s;
	-moz-animation: myanim 1s;
	-o-animation: myanim 1s;
	animation: myanim 1s;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
	height:100%;
	margin-top: 22px;
	margin-bottom: 22px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
	box-shadow: 4px 4px 14px #000;
}

#update li:hover {
	background: #EEE;
	min-height: 110px;
	height: 100%;
	overflow: visible;
}

#update h2 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	padding-bottom: 5px;
	padding-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
}

@-webkit-keyframes myanim {
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-moz-keyframes myanim {
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@-o-keyframes myanim {
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}

@keyframes myanim {
	0% { opacity: 0.3;}
	100% { opacity: 1.0;}
}
